project/.vs
project/Saved
project/Intermediate
project/Build
project/Binaries
project/Plugins
project/Content/__ExternalActors__
project/Content/__ExternalObjects__
project/DerivedDataCache
*.sln
*_BuiltData.uasset
project/.editorconfig
project/shadertoolsconfig.json
project/UpgradeLog.htm
